MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

MONGO_URL=mongodb://admin:password@db:27017/?authSource=admin
MONGO_DATABASE_NAME=unrowdy_db

AUTH_SECRET=super-secret-local-key

CORS_ALLOW_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:5180

# Массив строк: Категория>Подкатегория1,Подкатегория2;
SERVICE_CATEGORIES="[
IT>Веб-разработка,Мобильная разработка;
Дизайн>Графический дизайн,UX/UI дизайн;
Маркетинг>SMM,Контекстная реклама;
Музыка>Написание песен,Звукорежиссура
]"
