@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  /*font-family: 'Roboto', sans-serif;*/
}

@theme {
  --color-border: #edf0f3;

  --color-font: #344256;
  --color-font-light: #697586;

  --color-main-white: #FFF;
  --color-main-grey: #FAFAFB;

  --max-width-container: 1300px;
  --max-width-container-big: 1400px;
}

@layer components {
  .auth-form {
    @apply p-4 rounded-md border w-full border-[var(--color-border)] focus:outline-blue-500
  }

  .button-blue {
    @apply p-4 rounded-md bg-blue-500 opacity-75 duration-200 text-white font-medium cursor-pointer hover:opacity-100
  }

  .button {
    @apply py-2 px-4 rounded-md border border-[var(--color-border)] font-medium cursor-pointer duration-300 text-[var(--color-font-light)] hover:bg-blue-500 hover:text-white
  }

  .card-element {
    @apply bg-white shadow-sm rounded-lg
  }

  .in-center{
    @apply w-full flex justify-center
  }
}

@layer utilities {
  .border-primary {
    border-color: var(--color-border)
  }

  .color-main {
    background-color: var(--color-main-white)
  }
  .color-main-grey {
    background-color: var(--color-main-grey)
  }

  .color-font {
    color: var(--color-font)
  }
  .color-font-light {
    color: var(--color-font-light)
  }

  .container{
    max-width: var(--max-width-container);
    margin-inline: auto;
  }

  /*.dark .color-background-main {*/
  /*  background-color: deepskyblue;*/
  /*}*/

  /*.animation-fade-out {*/
  /*  animation: fadeOut 240ms both ease-in-out;*/
  /*}*/

  /*.animation-fade-in {*/
  /*  animation: fadeIn 240ms both ease-in-out;*/
  /*}*/
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-80px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}